* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a :focus, a :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a :visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  padding: 50px;
  color: white;
  font-size: 27px;
}

.container {
  padding: 50px;
  border: 4px black solid;
  width: 1000px;
  height: 700px;
}
.container .flexFor2parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .flexFor2parts .flexForBigSquare .bigSquare {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 10px;
  background: rgb(80, 57, 214);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.container .flexFor2parts .flexForBigSquare .Up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .flexFor2parts .flexForBigSquare .Down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .flexFor2parts .flexForSmallSquare {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  height: 440px;
}
.container .flexFor2parts .flexForSmallSquare .smallSquare {
  background: rgb(80, 57, 214);
  height: 111px;
  width: 111px;
  margin: 5px;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.container .flexFor2parts .flexForSmallSquare .Up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .flexFor2parts .flexForSmallSquare .Middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .flexFor2parts .flexForSmallSquare .Down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}